.lead__polka-pic{    
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 768px) {
.lead__polka-pic{
    max-width: 768px;
}
}

@media screen and (max-width: 320px) {
       
.lead__polka-pic{
    max-width: 320px;
}
}