.places{
    margin: 0 auto;
    padding: 86px 148px 10px 148px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
.places{
    padding: 91px 48px 10px 48px;
}
}

@media screen and (max-width: 768px) {
.places{
    padding: 91px 24px 15px 24px;
}
}

@media screen and (max-width: 670px) {
.places{
    max-width: 100%;
    margin: 0 auto;
}
}

@media screen and (max-width: 320px) {
.places{
    padding: 64px 0 15px 0;
}
}