.places__image{  
    width: 460px;
    height: 460px;
}

@media screen and (max-width: 1024px) {
.places__image{  
    width: 440px;
    height: 440px;
}
}

@media screen and (max-width: 768px) {
.places__image{  
    width: 340px;
    height: 340px;
}
}

@media screen and (max-width: 670px) {
.places__image{  
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width: 320px) {
.places__image{  
    width: 320px;
    height: 320px;
}
}