.cover__subtitle{
    margin-block: 0;

    max-width: 360px;    

    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
}

@media screen and (max-width: 320px) {
.cover__subtitle{
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.7px;
}
}