.photo-grid__item{
    max-width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
.photo-grid__item {
    width: 352px;
}
}

@media screen and (max-width: 670px) {
.photo-grid__item {
    width: 100%;    
}
}

@media screen and (max-width: 320px) {
.photo-grid__item{
    width: 288px;
}
}