.lead__title{
    margin-block: 0;
    margin: 0 auto;

    padding-top: 56px;
    max-width: 720px;

    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;    
}

@media screen and (max-width: 1024px) {
.lead__title{
    padding-top: 48px;         
}
}

@media screen and (max-width: 768px) {
.lead__title{
    padding: 48px 16px 0 16px;
}
} 

@media screen and (max-width: 740px) {
.lead__title{
    font-size: 55px;
    line-height: 58px;
}
} 

@media screen and (max-width: 670px) {
.lead__title{
    font-size: 38px;
    line-height: 44px;
}
}

@media screen and (max-width: 320px) {
.lead__title{
    padding: 48px 16 0 16px;
}}    