.footer__copyright{
    margin-block: 0;

    align-self: flex-end;

    font-weight: 400;
    font-size: 14px;
    line-height: 114%;    
}

@media screen and (max-width: 670px) {
.footer__copyright{
    padding: 8px 0 24px 0;
    align-self: start;
}
}