.intro{
    max-width: 984px;
    padding: 94px 0 92px 148px;
}
@media screen and (max-width: 1024px) {
.intro{
    max-width: 984px;
    padding: 94px 0 90px 48px;
}
}

@media screen and (max-width: 768px) {
.intro{    
    padding: 88px 24px;
}
}

@media screen and (max-width: 670px) {
.intro{
    padding: 64px 16px;
}
}