.intro{
    max-width: 984px;
    padding: 94px 0 92px 148px;
}
@media screen and (max-width: 1024px) {
.intro{
    max-width: 984px;
    padding: 94px 0 90px 48px;
}
}

@media screen and (max-width: 768px) {
.intro{
    max-width: 720px;
    padding: 88px 0 88px 0;
    margin: 0 auto;
}
}

@media screen and (max-width: 320px) {
.intro{
    max-width: 288px;
    padding: 64px 0 64px 0;
}
}