.cover__title{
    margin-block: 0;

    padding-top: 245px;

    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media screen and (max-width: 1024px) {
.cover__title {
    padding-top: 195px;
}
}

@media screen and (max-width: 768px) {
.cover__title {
    padding-top: 115px;
}
}

@media screen and (max-width: 670px) {
.cover__title{
    padding-top: 50px;
}
}

@media screen and (max-width: 320px) {
.cover__title{
    max-width: 250px;
    padding-top: 33px;

    font-size: 32px;
    line-height: 109%;        
}
}