.cover__title{
    margin-block: 0;

    text-align: center;

    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media screen and (max-width: 670px) {
.cover__title{
    max-width: 450px;

    font-size: 37px;
    line-height: 109%;        
}
}

@media screen and (max-width: 320px) {
.cover__title{
    max-width: 250px;
   
    font-size: 32px;
    line-height: 109%;        
}
}