.footer{
    margin: 0 auto;
    padding: 92px 0 24px 0;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
.footer{
    max-width: 928px;
}
}

@media screen and (max-width: 768px) {
.footer{
    max-width: 720px;
    padding-top: 88px;
}
}

@media screen and (max-width: 670px) {
.footer{
    margin: 0;
    padding: 64px 0 16px 16px;
    max-width: 288px;
    flex-direction: column;
}
}