.cover__box{
    max-width: 560px;
    margin: 0 auto;
    gap: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 670px) {
.cover__box{
    gap: 16px;
    padding: 0 16px;
}
}