.intro__title{
    margin-block: 0;

    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 670px) {
.intro__title{
    font-size: 40px;
}
}

@media screen and (max-width: 320px) {
.intro__title{
    font-size: 32px;
    line-height: 109%;
    max-width: 250px;
}
}